* {
    background-color: #222222;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

h3 {
    padding-left: 200px;
}

ul {
    padding-left: 200px;
}

.containerhome {
    display: grid;
    grid-template-columns: 20% 10% 70%;
    grid-template-rows: 75% 25%;
    border: 10px;
    padding-top: 200px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 50px;
}

.textintro {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

#flexer {
    margin: 5px;
}

.headshot {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

/* copied from Gumpack */
.btn-grad1 {
    margin: 5px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 400;
    font-size: 20px;
    background-image: linear-gradient(45deg, #ED80BE 0%, #D97834  51%, #D1744C  100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn-grad1:hover {
  background-position: right top;
  color: #fff;
  text-decoration: none;
}

.btn-grad1:active {
  transform: scale(0.95);
}